@import "../../scss/variables";
@import "../../scss/mixins";

.containerWrapper {
  display: flex;
  justify-content: center;
}

.leftSideWrapper {
  background-color: $white;
  width: 60%;
  padding: 20px;
  border-radius: 4px 0 0 4px;
}

.rightSideWrapper {
  background-color: $white;
  width: 20%;
  padding: 20px;
  border: none;
  border-radius: 0 4px 4px 0;
  border-left: 2px solid $clouds;
}

.title {
  font-size: $font-size-6;
  color: $grey;
}

.descriptionInput {
  font-size: $font-size-6;
  line-height: $line-height-3;
  color: $rhino-blue;
  width: 100%;
  height: 150px;
  margin-top: 4px;
  transition: box-shadow 0.2s ease-out;

  &::-webkit-scrollbar {
    width: 14px;
    height: 18px;
  }

  &::-webkit-scrollbar-thumb {
    height: 6px;
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::placeholder {
    color: $rock-gray;
  }
}

.descriptionInputContainer {
  margin-bottom: 10px;
}

.inlineSection {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.dropdownWrapper {
  width: 300px;
}

.multipleDropdownWrapper {
  width: 300px;

  &:not(:first-child) {
    margin-left: 30px;
  }
}

.imageUploaderWrapper {
  margin-top: 10px;
}

.imagesWrapper {
  display: flex;
  flex-wrap: wrap;
}

.label {
  padding-left: 2px;
  font-size: $font-size-6;
  line-height: $line-height-4;
  font-weight: $font-weight-2;
  color: $grey;
}

.buttonsWrapper {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}

.createButton {
  margin-left: 10px;
}
