@import "../../scss/mixins";
@import "../../scss/variables";

$background: rgba($clouds, 0.1);

.wrapper {
  min-height: 100vh;
}

.mainPanel {
  float: right;
  height: 100%;
  width: calc(100% - 260px);
  background-color: $clouds;

  .content {
    padding: 20px 0;
  }
}
