@import "../../scss/mixins";
@import "../../scss/variables";

$background: rgba($clouds, 0.1);

.wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.mainPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $clouds;
  width: 100%;
  overflow-y: hidden;

  .content {
    width: 100%;
    padding: 20px 20px;
    overflow-y: auto;
  }
}
