$white: #ffffff;
$turquoise: #1abc9c;
$green-sea: #16a085;
$sun-flower: #f1c40f;
$orange: #f39c12;
$emerald: #2ecc71;
$nephritis: #27ae60;
$carrot: #e67e22;
$pumpkin: #d35400;
$peter-river: #3498db;
$belize-hole: #2980b9;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;
$concrete: #95a5a6;
$asbestos: #7f8c8d;
$grey: #495057;

$font-family: "Montserrat", sans-serif;

$font-weight-1: 200;
$font-weight-2: 400;
$font-weight-3: 600;

$font-size-1: 32px;
$font-size-2: 24px;
$font-size-3: 20px;
$font-size-4: 18px;
$font-size-5: 16px;
$font-size-6: 14px;
$font-size-7: 12px;

$line-height-1: 2.3;
$line-height-2: 2;
$line-height-3: 1.7;
$line-height-4: 1.5;
$line-height-5: 1.6;

$photo-gray-box-shadow: 0 16px 32px 0 rgba(0, 40, 128, 0.12);
$grey-box-shadow: 0 16px 32px 0 rgba(0, 40, 128, 0.12);
$elevation-1dp-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
$elevation-2dp-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
$elevation-3dp-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2),
  0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12);

$border-radius: 4px;
