@import "../../../scss/mixins";
@import "../../../scss/variables";

.navLink {
  padding: 12px 22px;
  font-size: 1.1em;
  display: flex;
  flex-grow: 1;
  align-items: center;
  color: #fff;
  text-decoration: none;
  overflow-x: hidden;
  white-space: nowrap;

  &:hover {
    color: $midnight-blue;
    background: #ecf0f1;
    text-decoration: none;
  }
}

.icon {
  font-size: 15px;
  margin-right: 5px;
}

.title {
  font-size: 15px;
  display: flex;
  flex-grow: 0.8;
  margin-left: 16px;
}
