@import "../../../scss/mixins";
@import "../../../scss/variables";

.navLink {
  height: 40px;
  font-size: 1.1em;
  display: flex;
  flex-grow: 1;
  align-items: center;
  color: #fff;
  text-decoration: none;
  overflow-x: hidden;
  white-space: nowrap;

  &:hover {
    color: $midnight-blue;
    background: #ecf0f1;
    text-decoration: none;
  }
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  min-width: 60px;
}

.icon {
  font-size: 18px;
}

.title {
  font-size: 16px;
}
